/* Reset CSS */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  position: sticky;
  padding: 18px;
  text-align: center;
  border-bottom: 1px solid black;
}

.title {
  font-weight: 300;
  color: black;
}

/* Question Cards */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 60px 80px 60px;
  border: 1px solid black;
  margin: 40px;
}

.card--question {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

.card--button {
  padding: 12px 24px 12px 24px;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  color: black;
  border-radius: 60px;
  font-size: 1.1rem;
}

.card--button:hover {
  background-color: black;
  border: solid 1px black;
  color: white;
}

.card--tag--container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.card--tag--item {
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 6px 12px 6px 12px;
  font-size: small;
}

.card--tag--item:hover {
  background-color: black;
  color: white;
}

.card--bookmark--flag {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  width: 20px;
}

/* Footer Nav */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 2;
}

.footer--nav {
  display: flex;
  justify-content: space-around;
}

.footer--nav--container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.footer--nav--container:hover {
  background-color: whitesmoke;
}

/* Profile page */

.profile {
  padding: 40px;
}

.profile h2 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.profile-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  font-weight: 300;
}

.profile-text {
  margin-bottom: 1rem;
  font-weight: 300;
}

.profile-buttons {
  text-align: center;
}

.profile-darkmode {
  display: flex;
  justify-content: space-between;
}
