/* Global */

:root {
  --color-primary: #000000ca;
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #f5f5f5;
  --bg-color-highlight: #ffff00;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}

body {
  font-family: sans-serif;
  /* background: lemonchiffon; */
}

.body--dark {
  background: var(--color-primary);
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  margin: 0 auto;
  padding: 40px;
  gap: 40px;
}

/* Header */

header {
  position: sticky;
  padding: 18px;
  text-align: center;
  border-bottom: 1px solid var(--color-primary);
}

.header-title {
  font-weight: 300;
  color: var(--color-primary);
}

/* Cards */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 60px 80px 60px;
  border: 1px solid var(--color-primary);
  background: var(--bg-color-primary);
}

.card__question {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: black;
  font-family: sans-serif;
}

.card__answer {
  position: absolute;
  text-align: center;
  z-index: 2;
  visibility: hidden;
}

.card__new {
  color: black;
  font-family: sans-serif;
  text-align: center;
  background: whitesmoke;
  border: 1px solid grey;

  /* font-size: 2rem;
  font-weight: 300;
  border: none; */
}

.card__button {
  padding: 12px 24px 12px 24px;
  background: var(--bg-color-secondary);
  border: 1px solid var(--bg-color-secondary);
  color: black;
  border-radius: 60px;
  font-size: 1.1rem;
}

.card__button:hover {
  background: black;
  border: solid 1px black;
  color: var(--bg-color-primary);
}

.card__bookmark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 20;
  width: 20px;
  height: 30px;
  cursor: pointer;

  /* background-image: url(assets/bookmark-regular.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  /* border: 1px solid;
  background: red; */
}

/* .card__bookmark:hover {
  background: url(assets/bookmark-solid.svg);
} */

/* Tags */

.tag__container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.tag__item {
  background: #f1f1f1;
  border-radius: 4px;
  padding: 6px 12px 6px 12px;
  font-size: small;
}

.tag__item:hover {
  background: black;
  color: var(--bg-color-primary);
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--bg-color-primary);
  z-index: 2;
}

/* Navbar */

.nav {
  display: flex;
  justify-content: space-around;
}

.nav__container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.nav__container:hover {
  background: var(--bg-color-secondary);
}

/* Profile page */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  /* background-color: bisque; */
}

/* .profile__container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background-color: aqua;
} */

.profile h2 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 2rem;
  /* background: lightsalmon; */
}

.profile__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid; */
  /* background: violet; */
}

.profile__pic {
  border-radius: 50%;
  width: 200px;
}

.profile__text {
  margin-bottom: 1rem;
  /* font-weight: 300; */
  /* background: silver; */
}

.profile__button {
  text-align: center;
  /* background: rebeccapurple; */
}

.profile__settings {
  display: flex;
  justify-content: space-between;
  /* background: yellowgreen; */
}

@media (min-width: 600px) {
  .profile {
    width: 70vw;
  }
  .profile__header {
    flex-direction: row;
    gap: 40px;
  }
  /* body::before {
    content: "min-width: 600px is active";
    display: block;
    color: red;
  } */
}

@media (min-width: 900px) {
  .profile {
    width: 600px;
  }
  .profile__header {
    flex-direction: row;
    gap: 40px;
  }
  /* body::before {
    content: "min-width: 900px is active";
    display: block;
    color: red;
  } */
}
